SECRET_KEY='your secret key'
DATABASE_URL=psql://user:password@127.0.0.1:5432/project_name
REDIS_LOCATION=redis://localhost:6379

ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SETTINGS_MODULE=config.django.local